<footer class="footer">
    <div class="container content has-text-centered">
        <p>
            <strong>Fldrppr</strong> by Kyle Dabbieri <a href="https://www.github.com/rhohio">
                <@rhohio>
            </a> and Logan Crandall <a href="https://www.github.com/link00000000">
                <@link00000000>
            </a>. The source code is licensed
            <a href="https://github.com/CertifiedGoons/fldrppr/blob/master/LICENSE">GNU General Public License v3.0</a>.
            The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>