.dropzone {
    background-color: rgb(255, 255, 255);
    color: rgba(100, 108, 127, 1);
    border: 2px dashed rgba(0, 135, 247, 1);
    border-radius: 6px;
    font-size: 1.3em;
    padding: 2.3em;
    transition: all 200ms;
}

.dropzone:hover {
    border-color: rgba(0, 135, 247, .6);
}