<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/navbar %>

    <form action="/signup" method="POST">
        Username:       <input type="text" name="username" /><br>
        Email:          <input type="text" name="email" /><br>
        Password:       <input type="password" name="password" /><br>
        Password Again: <input type="password" name="password-confirm" /><br>
        <input type="submit" value="Submit" />
    </form>

    <% include partials/footer %>
</body>
</html>
